src/main/app/construction.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:GoogleCurrencyConnector="http://www.mulesoft.org/schema/mule/GoogleCurrencyConnector"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/GoogleCurrencyConnector http://www.mulesoft.org/schema/mule/GoogleCurrencyConnector/current/mule-GoogleCurrencyConnector.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd"
	version="EE-3.6.1">
	<http:listener-config name="construction-httpListenerConfig"
		host="localhost" port="8081" doc:name="HTTP Listener Configuration" />
	<apikit:config name="construction-config" raml="construction.raml"
		consoleEnabled="true" consolePath="console" doc:name="Router" />
	<GoogleCurrencyConnector:config-type
		name="Google_Currency_Connector__No_auth_strategy" username="a"
		password="b" doc:name="Google Currency Connector: No auth strategy" />
	<data-mapper:config name="CurrencyConverterObject_To_Xml_part_"
		transformationGraphPath="currencyconverterobject_to_xml_part_.grf"
		doc:name="CurrencyConverterObject_To_Xml_part_" />
	<data-mapper:config name="JSON_To_Xml_search_result_"
		transformationGraphPath="json_to_xml_search-result_.grf" doc:name="JSON_To_Xml_search_result_" />
    <data-mapper:config name="JSON_To_Xml_part_" transformationGraphPath="json_to_xml_part_.grf" doc:name="JSON_To_Xml_part_"/>
    <data-mapper:config name="JSON_To_Xml_search_result__1" transformationGraphPath="json_to_xml_search-result__1.grf" doc:name="JSON_To_Xml_search_result__1"/>
	<apikit:mapping-exception-strategy
		name="construction-apiKitGlobalExceptionMapping">
		<apikit:mapping statusCode="404">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotFoundException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Resource not found&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="405">
			<apikit:exception
				value="org.mule.module.apikit.exception.MethodNotAllowedException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Method not allowed&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="415">
			<apikit:exception
				value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="406">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotAcceptableException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="400">
			<apikit:exception
				value="org.mule.module.apikit.exception.BadRequestException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<choice doc:name="Choice">
				<when expression="flowVars.hasTooManyUriParams == true">
					<set-payload
						value="{ &quot;message&quot;: &quot;Too many URI parameters given. Only one is allowed.&quot; }"
						doc:name="Too many URI params" />
				</when>
				<otherwise>
					<set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }"
						doc:name="Generic 400 &quot;Bad Request&quot;" />
				</otherwise>
			</choice>

		</apikit:mapping>
	</apikit:mapping-exception-strategy>
	<flow name="construction-main">
		<http:listener config-ref="construction-httpListenerConfig"
			path="/api/*" doc:name="HTTP" />
		<apikit:router config-ref="construction-config"
			doc:name="APIkit Router" />
		<exception-strategy ref="construction-apiKitGlobalExceptionMapping"
			doc:name="Reference Exception Strategy" />
	</flow>
	<flow name="get:/parts/search:construction-config">
		<message-properties-transformer scope="invocation"
			doc:name="Set query parameters as flow vars">
			<add-message-property key="usedfor"
				value="#[message.?inboundProperties['http.query.params']['used-for'] or -1]" />
			<add-message-property key="belongsto"
				value="#[message.?inboundProperties['http.query.params']['belongs-to'] or -1]" />
			<add-message-property key="deliveredby"
				value="#[message.?inboundProperties['http.query.params']['delivered-by'] or -1]" />
			<add-message-property key="madeof"
				value="#[message.?inboundProperties['http.query.params']['made-of'] or -1]" />
            <add-message-property key="host" value="#[message.inboundProperties['host']]"/>
		</message-properties-transformer>
		<choice doc:name="Choice">
			<when expression="message.inboundProperties['http.query.params'].size()  &gt; 1">
				<message-properties-transformer
					scope="invocation" doc:name="Indicate wrong query params number">
					<add-message-property key="hasTooManyUriParams"
						value="true" />

				</message-properties-transformer>
				<scripting:component doc:name="Return 400 - Incorrect number of query parameter">
					<scripting:script engine="groovy">
        				<![CDATA[throw new org.mule.module.apikit.exception.BadRequestException("too many");
						]]>
					</scripting:script>
				</scripting:component>
			</when>
			<when expression="#[?usedfor &gt; -1]">
				<flow-ref name="neo4j-adapter-search-parts-used-for"
					doc:name="neo4j-adapter-search-parts-used-for" />
				<logger message="#['Used For search result']" level="INFO"
					doc:name="Logger" />
			</when>
			<when expression="#[?belongsto &gt; -1]">
				<flow-ref name="neo4j-adapter-search-parts-belongs-to"
					doc:name="neo4j-adapter-search-parts-belongs-to" />
				<logger message="#['Belongs To search result']" level="INFO"
					doc:name="Logger" />
			</when>
			<when expression="#[?deliveredby &gt; -1]">
				<flow-ref name="neo4j-adapter-search-parts-delivered-by"
					doc:name="neo4j-adapter-search-parts-delivered-by" />
				<logger message="#['Delivered By search result']" level="INFO"
					doc:name="Logger" />
			</when>
			<when expression="#[?madeof &gt; -1]">
				<flow-ref name="neo4j-adapter-search-parts-made-of"
					doc:name="neo4j-adapter-search-parts-made-of" />
				<logger level="INFO" doc:name="Logger" message="#['Made Of search result']" />
			</when>
			<otherwise>
				<flow-ref name="neo4j-adapter-search-parts" doc:name="neo4j-adapter-search-parts" />
				<logger message="#['General search result']" level="INFO"
					doc:name="Logger" />
			</otherwise>
		</choice>
		<data-mapper:transform config-ref="JSON_To_Xml_search_result_"
			doc:name="JSON To Xml&lt;search-result&gt;" >
            <data-mapper:input-arguments>
                <data-mapper:input-argument key="host">#[flowVars.host]</data-mapper:input-argument>
            </data-mapper:input-arguments>
        </data-mapper:transform>
	</flow>
	<flow name="get:/parts/{part_id}:construction-config">
		<flow-ref name="neo4j-adapter-get-part" doc:name="neo4j-adapter-get-part" />
        <data-mapper:transform config-ref="JSON_To_Xml_part_" doc:name="JSON To Xml&lt;part&gt;" />
	</flow>
	<flow name="get:/suppliers/search:construction-config">
        <flow-ref name="neo4j-adapter-search-suppliers" doc:name="neo4j-adapter-search-suppliers"/>
        <data-mapper:transform config-ref="JSON_To_Xml_search_result__1" doc:name="JSON To Xml&lt;search-result&gt;"/>
	</flow>
	<flow name="get:/parts/{part_id}/price:construction-config">
		<message-properties-transformer scope="invocation"
			doc:name="Store currency code">
			<add-message-property key="currency_code"
				value="#[message.?inboundProperties['http.query.params']['currency-code']]" />
		</message-properties-transformer>
		<flow-ref name="neo4j-adapter-get-part" doc:name="neo4j-adapter-get-part" />
		<GoogleCurrencyConnector:exchange-currency
			config-ref="Google_Currency_Connector__No_auth_strategy"
			fromCurrency="EUR" toCurrency="#[flowVars.currency_code]" value="#[flowVars.part_price_euro]"
			doc:name="Google Currency Connector" />
		<data-mapper:transform config-ref="CurrencyConverterObject_To_Xml_part_"
			doc:name="CurrencyConverterObject To Xml&lt;part&gt;">
			<data-mapper:input-arguments>
				<data-mapper:input-argument key="part_type">#[flowVars.part_type]</data-mapper:input-argument>
				<data-mapper:input-argument key="part_id">#[flowVars.part_id]</data-mapper:input-argument>
			</data-mapper:input-arguments>
		</data-mapper:transform>
	</flow>

</mule>
